body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header {
  background-image: url("../resources/the-flatiron-building.png");
  background-size: cover;
  color: white;
  font-size: 18px;
}

a {
  color: white;
}

footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

.newyork {
  background-image: url("../resources/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}
